/* 
    #5682A3 blue
    #E7EBF0 lightblue
*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body{
    background: linear-gradient(to bottom, #5682A3 35%,  #E7EBF0 35% 100%);
}

.center{
    width: 300px;
    height: auto;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 13px;
    color: #84a2bc;
}

footer a{
    text-decoration: none;
    color: #84a2bc;
}

header{
    width: auto;
    color: #fff;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 17px;
    
}

header a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.left{
    float: left;
}

.left span{
    margin-left: 20px;
}

.left img{
    width: 25px;
    float: left;
}

.right{
    float: right;
}

.right img{
    width: 10px;
    margin-left: 15px;
    float: right;
}

.wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    color: #999;
    border: 1px solid #e6e6e6;
    padding: 60px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.6;
    margin: 30px 0;
    text-align: left;
}

.wrapper input[type=text]{
    border: none; 
    border-bottom: 1px solid #999;
    color:#000;
    margin-bottom: 20px;
    cursor: pointer;
}

.wrapper label{
    margin-top: 20px;
}

.wrapper label[id=cod]{
    width: 30%;
    margin-right: 43px;
}

.wrapper input[name=num] {
    width: 75%;
}

.wrapper input[name=country]{
    width: 100%;
}

.wrapper input[name=code]{
    width: 15%;
    margin-right: 26px;
}
.wrapper h4{
    color: #000;
    font-size: 16px;
}

footer{
    width: 100%;
    padding-left: 60px;
    text-align: center;
}