<div class="card">
    <form class='login-form'>
        <div class="flex-row">
          <label class="lf--label" for="username">
            <i class="fas fa-user"></i>
          </label>
          <input id="username" class='lf--input' placeholder='Username' type='text'>
        </div>
        <div class="flex-row">
          <label class="lf--label" for="password">
            <i class="fas fa-lock"></i>
          </label>
          <input id="password" class='lf--input' placeholder='Password' type='password'>
        </div>
        <input class='lf--submit' type='submit' value='LOGIN'>
    </form>
    <p class='lf--dont'>Don't have account? <a routerLink="/signup">Sign up</a></p>
</div>