<div class="card">
    <form class='login-form'>
        <div class="flex-row">
          <label class="lf--label" for="username">
            <i class="fas fa-user"></i>
          </label>
          <input id="username" class='lf--input' placeholder='Username' type='text'>
        </div>
        <div class="flex-row">
          <label class="lf--label" for="email">
            <i class="fas fa-envelope"></i>
          </label>
          <input id="email" class='lf--input' placeholder='Email' type='email'>
        </div>
        <div class="flex-row">
            <label class="lf--label" for="password">
              <i class="fas fa-lock"></i>
            </label>
            <input id="password" class='lf--input' placeholder='Password' type='password'>
        </div>
        <input class='lf--submit' type='submit' value='SIGN UP'>
    </form>
    <p class='lf--dont'>Already have account? <a routerLink="/login">Login</a></p>
</div>